@import "tailwindcss";

@theme {
  /* Define your custom breakpoints */
  --breakpoint-se: 23.4375rem; /* 375px */
  --breakpoint-ipad: 48rem;     /* 768px */
  --breakpoint-desktop: 64rem;  /* 1024px */
  
}

/* Custom animations */
@keyframes slideDown {
  from { transform: translateY(0); }
  to { transform: translateY(10px); }
}

.buttons-slide-down {
  animation: slideDown 0.3s ease forwards;
}